// sidebar
$menuText: #bfcbd9;
$menuActiveText: #ffffff;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;
$hideSideBarWidth: 67px;
$sideBarDuration: 0.28s;

$pad-page: 80px;
$head-height:80px;
$tab-pad:20px;
$prefecture-card-margin:15px;
$prefecture-card-title-color:var(--el-color-primary);
$prefecture-card-myfont-color:rgba(250, 250, 250, 1);
$prefecture-card-myfont-color-active:rgba(250, 250, 250, .7);
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  hideSideBarWidth: $hideSideBarWidth;
}
